/*Variables */

/* Pallete */
$primary :rgba(229, 152, 128,50%);
$secondary: rgba(102, 44,31,80%);
$alternative :rgba(229, 152, 128,70%);;
$cards : rgba(239, 204, 191,90%);

/* Spacings */
$spacing-lg : 40px;
$spacing-l: 30px;
$spacing-m: 20px;
$spacing-s :10px;
$spacing-xs: 5px;

/* Sizes */
$size-lg :45px;
$size-m:30px;
$size-s:20px;
$size-ss:15px;
$size-xs:10px;

/* Font Family */
$text-base :'Quicksand', sans-serif;