/*Variables */

/* Pallete */
$primary :#e5988080;
$secondary: #662c1fcc;
$alternative :#e59880b3;;
$cards : #efccbfe6;

/* Spacings */
$spacing-lg : 40px;
$spacing-l: 30px;
$spacing-m: 20px;
$spacing-s :10px;
$spacing-xs: 5px;

/* Sizes */
$size-lg :45px;
$size-m:30px;
$size-s:20px;
$size-ss:15px;
$size-xs:10px;

/* Font Family */
$text-base :'Quicksand', sans-serif;