<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Moraleja | Contacto - Redes</title>
    <meta name="keywords" content="contacto,redes sociales, email">
    <meta name="description" content="Contactanos si quieres trabajar con nosotros en mejorar nuestra empresa">
</head>

<body class="contact min-vh-100">

    <header class="header">
        <nav class="navbar navbar-expand-lg header">
            <div class="container-fluid">
                <h1 data-aos="fade-right" data-aos-duration="6000" data-aos-delay="500" class="text-dark">Moraleja</h1>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav header__ul ">
                        <li><a class="text-secondary" href="/index.html">Home</a></li>
                        <li><a class="text-secondary" href="./receipes.html">Recepies</a></li>
                        <li><a class="text-secondary" href="./about.html">About Us</a></li>
                        <li><a class="text-secondary" href="./contact.html">Contact</a></li>
                        <li><a class="text-secondary" href="./forum.html">Forum</a></li>
                    </div>
                    <nav class="navbar-nav header__login ">
                        <a class="text-secondary" href="./login.html">Log In / Sign Up</a>
                    </nav>

                </div>
            </div>
        </nav>
    </header>
    <main>
        <section class="container">
            <div class="fcf-body">
                <div id="fcf-form">
                    <h3 class="fcf-h3">Contact us</h3>
                    <form id="fcf-form-id" class="fcf-form-class" method="post" action="contact-form-process.php">
                        <div class="fcf-form-group">
                            <label for="Name" class="fcf-label">Your name</label>
                            <div class="fcf-input-group">
                                <input type="text" id="Name" name="Name" class="fcf-form-control" required>
                            </div>
                        </div>
                        <div class="fcf-form-group">
                            <label for="Email" class="fcf-label">Your email address</label>
                            <div class="fcf-input-group">
                                <input type="email" id="Email" name="Email" class="fcf-form-control" required>
                            </div>
                        </div>
                        <div class="fcf-form-group">
                            <label for="Message" class="fcf-label">Your message</label>
                            <div class="fcf-input-group">
                                <textarea id="Message" name="Message" class="fcf-form-control" rows="6" maxlength="3000"
                                    required></textarea>
                            </div>
                        </div>
                        <div class="fcf-form-group">
                            <button type="submit" id="fcf-button"
                                class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block fw-bold text-dark">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>
        <section class="container">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nulla, inventore cupiditate quas ex adipisci fuga
            quibusdam minus modi alias nihil dolore. Sunt illum nesciunt cupiditate, odit numquam tenetur delectus cum.
        </section>
    </main>
    <footer class="footer mt-auto">
        <a href="../index.html">HOME</a>
    </footer>
    <script src="./js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>