/* Inicio Header */
$estilos: (
  fs : 20px,
  fw:bold,
  c: white,
  br:20px,
  p:10px
);

%header {
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;

}
header h1 {
    color:map-get($estilos , c );
    font-weight: 500;
    font-size: 45px;
    font-weight: map-get($estilos, fw);
    @include margins(3px,8rem,0,4rem);
  }
  .header__ul {
    display: flex;
    justify-content: space-around;
    padding: 6px;
    background-color: $primary;
    @extend %header;
    margin-left: 20rem;

        & a{
            padding-right: map-get($estilos , p );
                padding-left: map-get($estilos , p );
                text-decoration: none;
                color: white;
               
        }
       & li:hover{
            transition-duration: 0.3s;
            background-color: $alternative;
            border-radius: 15px;
            padding: 3px;

          }
  } 
  .header a{
    color:map-get($estilos, c);
    text-decoration: none;
  }
  
  .header__login{
    background-color:$primary;
    font-size: map-get($estilos , fs );
    font-weight:map-get($estilos , fw);
    margin-left: 10px;
    padding: 6px 8px 6px 8px;
    border-radius: map-get($estilos , br);
    & a{
      text-decoration: none;
      color: white;
    }
                & a:hover{
                    transition-duration: 0.3s;
                    background-color: var(--alternative);
                    border-radius: 15px;
                    padding: 3px;
                }
  }
  .navbar-collapse{
    justify-content: space-around;
  }
  
  .navbar-toggler{
    background-color:var(--primary) ;
    color: map-get($estilos , c);
    &-icon {
        color: map-get($estilos , c);
      }
  }
  
/* Fin Header */
