
* {
  margin: 0px ;
  padding: 0px  ;
  box-sizing: border-box;
  
}
.container {
  text-align: center;
  margin: 0 center;
}
/*CSS for the body */
.index {
  
  font-family: 'GT Walsheim',Arial,sans-serif;
  background-image: url(../img/fondoIndex.jpg);
}
 /*CSS for index */

.header{ 
  display:block;
  margin: 15px 10px 30px 10px;
  background-color: rgb(99, 195, 26);
  border-radius: 20px;
}
.header h1 {
  display: inline-block;
  padding: 10px 10px 17px 10px;
  margin-right: 50px;
  margin-left: 30px; 
}


.navbar ul{
  display: inline-block;
  background-color: rgb(117,8,58,90%);
  padding: 2px 2px 2px 2px;
  border-radius: 20px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight:bold;
}
.navbar .navbar-center li{
  
  display: inline-block;
  padding-left: 22px;
  padding-right: 22px;
  margin-left: 105px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
}
.navbar a{
  color:rgb(254,249,238,90%) ;
  text-decoration: none;
}
.navbar .navbar-right {
  display: inline-block;
  margin-left: 170px;
  list-style: none;
  padding: 5px 25px 5px 25px;
  color: white;
}

/* CSS for login */
.login {
  background: #432225;
  font-family: 'Arial', sans-serif;
}


.login-form {
  background: #fff;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
}
.login-form .content {
  padding: 35px;
  text-align: center;
}
.login-form .input-field {
  padding: 12px 5px;
}
.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Arial', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.login-form .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:focus {
  border-color: #222;
}
.login-form a.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
  padding: 3px 3px 3px 3px;
}
.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.login-form .action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.login-form .action button:hover {
  background: #d8d8d8;
}
.login-form .action button:nth-child(2) {
  background: #2d3b55;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
  background: #3c4d6d;
}
.login-footer {
  position: absolute; 
  left: 0;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  background-color: rgb(239, 109, 202);
  color: white;
  text-align: center;
}