
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/*Variables*/
:root{
  /* Pallete */
  --primary :rgb(229, 152, 128,50%);
  --secondary: rgb(102, 44,31,80%);
  --alternative :rgb(229, 152, 128,90%);;
  --cards : rgb(239, 204, 191,90%);

  /* Spacings */
  --spacing-lg : 40px;
  --spacing-l: 30px;
  --spacing-m: 20px;
  --spacing-s :10px;
  --spacing-xs: 5px;

  /* Sizes */
  --size-lg :45px;
  --size-m:30px;
  --size-s:20px;
  --size-ss:15px;
  --size-xs:10px;

  /* Font Family */
  --text-base :'Quicksand', sans-serif;
}

* {
  margin: 0 ;
  padding: 0;
  border: none;
}
html{
  font-size: 62.5%;
  
}
img{
  width: 100%;
}
/* Con esto el carrusel funciona perfecto sin aparecer los puntos*/
ul{
  list-style-type: none;
  
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}
/*CSS for the body */
body {
  font-family: var(--text-base);
  background-image: url(../img/backgroud2.jpg);
  margin: 0px 10px 0px 10px;
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center;
  display: grid;
  height: 100%;
  
}

 /*CSS for index */
.header{ 
  display: flex;
  justify-content: space-around;
  margin-bottom: 6rem;
  align-items: center;
  flex-wrap: wrap;
}
.header h1 {
  color: white;
  font-weight: 500;
  font-size: 45px;
  font-weight: bold;
  margin-top: 3px;
  margin-right: 10rem;
  
}

.header__nav {
  width: fit-content;
  height: fit-content;
  padding: 6px;
  background-color: var(--primary);
  border-radius: 20px;
  font-size: 20px;
  font-weight:bold;
}
.header__nav li {
  font-weight: bold;
  font-size: var(--size-s);
  margin-inline: var(--spacing-lg);
}
.header__ul {
  display: flex;
}
.header a{
  color:white;
  text-decoration: none;
}

.header__login{
  background-color:var(--primary);
  font-size: 20px;
  font-weight:bold;
  padding: 6px 10px 6px 10px;
  margin-left: 12rem;
  border-radius: 20px;
}

.header__login a:hover{
  
  transition-duration: 0.3s;
  background-color: var(--alternative);
  border-radius: 15px;
  padding: 3px;
}
.header__ul li:hover{
  transition-duration: 0.3s;
  background-color: var(--alternative);
  border-radius: 15px;
  padding: 3px;
}

/* CSS for Slideshow */
#carruselIndex {
  display: flex;
  flex-wrap: wrap;
}
.carrusel{
  display:flex;
  position: relative;
  text-align: center;
  overflow: hidden;
  align-items: center;
  height:510px;
  width: 728px;
  margin: 0 auto;
  flex-wrap: wrap;
}

 .carrusel__wrapper {
 width: 2912px;
 -webkit-animation: slide 18s ease infinite;
  
} 
.carrusel li {
  text-decoration: none;
}
.carrusel__img img {
  text-decoration: none;
  display:inline-block;
  height: 510px;
  width: 728px;
  margin: auto;
  object-fit: cover; 
  object-position: center;
  float: left;
  border-radius: 3%;

}

.slide:nth-child(1) {
  background: #D93B65;
}

.slide:nth-child(2) {
  background: #037E8C;
}

.slide:nth-child(3) {
  background: #36BF66;
}

.slide:nth-child(4) {
  background: #D9D055;
}



@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -728px;}
  50% {margin-left: -728px;}
  60% {margin-left: -1456px;}
  70% {margin-left: -1456px;}
  80% {margin-left: -2184px;}
  90% {margin-left: -2184px;}
}

/* CSS for section review Index */

.grid__review {
  display: grid;
  margin: 5rem; 
  grid-template-columns: 2fr 2fr auto;
  gap: 10rem;
  align-items: center;
  grid-template-areas: 'img img img review review review ';
  padding-top: var(--spacing-lg);
  justify-content: center;
  
}
.grid__review img {
  border-radius: 20px;
  gap: 2rem;
  max-width: 380px;
  max-height: 250px;

}

.review-section p {
  color: white;
  font-size: var(--size-s);
  max-width: 380px;

}
/* CSS for login */
.login {
  background-image: url(../img/loginImg2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  font-family: 'Quicksand', sans-serif;
}


.login-form {
  background: #fff;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.2);
}
.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
}
.login-form .content {
  padding: 35px;
  text-align: center;
}
.login-form .input-field {
  padding: 12px 5px;
}
.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Arial', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}
.login-form .input-field input::-webkit-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-moz-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::-ms-input-placeholder {
  text-transform: uppercase;
}
.login-form .input-field input::placeholder {
  text-transform: uppercase;
}
.login-form .input-field input:focus {
  border-color: #222;
}
.login-form a.link {
  text-decoration: none;
  color: #747474;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  display: inline-block;
  margin-top: 20px;
  padding: 3px 3px 3px 3px;
}
.login-form .action {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
}
.login-form .action button {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Quicksand', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: #e8e9ec;
  color: #777;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.login-form .action button:hover {
  background: #d8d8d8;
}
.login-form .action button:nth-child(2) {
  background: #2d3b55;
  color: #fff;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 4px;
}
.login-form .action button:nth-child(2):hover {
  background: #3c4d6d;
}
.footer {
  padding: 10px 0px 10px 0px;
  margin-top: 10px;
  margin-bottom: 5px; 
  width: 100%;
  text-decoration: none;
  background-color: var(--secondary);
  font-size: var(--size-s);
  text-align: center;
  border-radius: 15px;
  
}
.footer a{
  text-decoration: none;
  font-weight: bolder;
  color: white;
}

/*CSS for recipes */

 .receipes{
  margin: 2rem;
  display: grid;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5rem;
  margin: 6rem;
  grid-auto-flow: column;
}

.receipes_title {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
  padding: auto;
  background-color: rgb(239, 204, 191,90%);
  border-radius: 20px;
  margin-left: 42%;
  margin-right: 42%;
  color: black;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  background-size: cover;

}
.card{
  width:180px;
  text-align: center;
  background-color: var(--cards);
  border-radius: 20px;
  font-size: var(--size-ss);
  padding-bottom: var(--size-xs);
  
}
.card__body img{
  border-radius: 20px;
  opacity: 80%;
  cursor: pointer;
  height: 12rem;
  width: 100%;
  
}
/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
/* CSS for about us */
.aboutUs{
  text-decoration: none;
  color: white;
  padding: 10px 0px 20px 0px;
}
.aboutUs a{
  text-decoration: none;
  color:white;
}

/* CSS for Contact Us */
.contactForm {
  text-decoration: none;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.contact h3 {
  color: white;
  font-weight: bold;
  font-size: 40px;
  margin: 3rem 3rem; 
}

@media (max-width: 1400px) {
  .container {
    max-width: 1000px;
    margin: 0 auto;
    flex-wrap: wrap;

  }
 
  .grid {
    grid-template-columns: 1fr;
    grid-template-areas: "content";
  }
  .header__nav li {
    font-weight: bold;
    font-size: var(--size-s);
    margin-inline: var(--spacing-m);
  }
  .header  {
    max-width: inherit;
    flex-flow: column wrap;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .header h1{
    margin: 0;
    font-weight: 500;
    font-size: 35px;
  }
  .header__login {
    margin: 0;
    padding: auto;
  }
  .receipes{
    margin: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    
    
  }
  
  .receipes_title {
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    background-color: rgb(239, 204, 191,90%);
    border-radius: 20px;
    margin-left: 30%;
    margin-right: 30%;
    color: black;
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    background-size: cover;
  
  }
  .carrusel{
    display:flex;
    position: relative;
    text-align: center;
    overflow: hidden;
    align-items: center;
    height:310px;
    width: 528px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  .carrusel__wrapper {
    width: 2512px;
    
    -webkit-animation: slide 18s ease infinite;
     
   }
   .carrusel__img img {
    height:310px;
    width: 528px;
   }

   .grid__review {
    margin: 1rem;
    gap: 3rem;
    padding-top: 5px;
   }
  
}

@media (max-width: 1000px) {
  .container {
    max-width: 600px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  
  
}

@media (max-width: 800px) {
  /* .container {
    max-width: 600px;
    margin: 0 auto;
    flex-wrap: wrap;
  } */
 

  .review-section p {
    color: white;
    font-size: 10px;
  }
 
}
@media (max-width: 600px) {
  /* .container {
    max-width: 400px;
    margin: 0 auto;
    flex-wrap: wrap;
  } */
  .receipes{
    margin: 0.5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr  ;
    grid-template-columns: 1fr ; 
    justify-items: center;
    align-items: center;
    gap: 1rem;
    
  }
  

}
